.wrapper {
	width: 1200px;
	height: auto;
	margin: 0 auto;
}

.logo {
	width: 100%;
	margin-top: 40px;
	margin-bottom: 40px;
	text-align: center;
}

.nav-custom {
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #558f9c;;
}

.nav-item {
	margin: 0px 5px;
	padding-top: 10px;
}

a, .nav-item a {
	color: #558f9c;
}

a:hover, .nav-item a:hover {
	text-decoration: underline;
	color: #558f9c;
}

.submenu {
	margin-top: 20px;
}

.tab-content > .active {
	width: 800px;
	float: left;
}

.list-group-item.active {
	background: #558f9c;
	border: #558f9c;
}

.carousel {
	margin-bottom: 40px;
}

h5 {
	margin-top: 20px;
}

.info-overskrift {
	margin-top: 30px;
}

.info-text {
	margin-top: 20px;
	width: 800px;
	padding-right: 5%;
	float: left;
	height: auto;
}

.profilbilled {
	height: 400px;
	width: 400px;
	background: #eaeaea;
	float: right;
}

.cv {
	width: 400px;
	background: #eaeaea;
	height: 45px;
	float: right;
	margin-top: 40px;
	padding-top: 10px;
	text-align: center;
}

.cv a {
	padding-top: 20px;
}

footer {
	padding: 0;
	margin-top: 50px;
}

.footer-info {
	height: 140px;
	width: 50%;
	float: left;
	padding: 20px;
	background: #322f31;
	color: #ffffff;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}